<html>
<head>
  <title>Books on Nodes.js</title> <!-- Title displayed in the browser tab -->
</head>
<body>

  <!-- EJS conditional block: Check if there are any book list -->
    <h2>Node.js Book List</h2>
    <!-- EJS loop to render each book -->
     
    <% books.forEach(book => { %>
      
        <p><strong>Title: <%= book.title %></strong></p>      <!-- Display the book title -->
        ISBN: <%= book.isbn %><br>             <!-- Display the isbn number -->
        Rating:<%=book.rating %><br>           <!-- Display the rating -->
        Price:<%=book.price %>  <br>           <!-- Display the price  -->
    <% }); %>
    
  <% } %>
     
</body>
</html>
