<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register - After Hours</title>
  </head>
  <body>

    <h1>Register</h1>

    <% if (msg) { %>
      <p style="color: red;"><%= msg %></p>
    <% } %>

    <form action="/user/register" method="POST">
      
      <label>
        Full Name:
        <input type="text" name="fullName" required />
      </label>
      <br /><br />

      <label>
        Username:
        <input type="text" name="username" required />
      </label>
      <br /><br />

      <label>
        Email:
        <input type="email" name="email" required />
      </label>
      <br /><br />

      <label>
        Password:
        <input type="password" name="password" required minlength="6" />
      </label>
      <br />
      <small style="color: gray;">
        Password must be at least 6 characters long
      </small>
      <br /><br />

      <label>
        Confirm Password:
        <input type="password" name="confirmPassword" required minlength="6" />
      </label>
      <br /><br />

      <button type="submit">Register</button>
    </form>

    <br />

    <p>
      Already have an account?
      <a href="/user/login">Login here</a>
    </p>

  </body>
</html>