<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <style>
  .success {
    color: green;
  }

  .error {
    color: red;
  }
</style>
</head>
<body>
  <h2>Change Password</h2>

<% if (msg) { %>
  <p class="<%= type === 'success' ? 'success' : 'error' %>">
    <%= msg %>
  </p>
<% } %>

  <form action="/user/change-password" method="POST">
    <table>
      <tr>
        <th>Current Password:</th>
        <td>
          <input type="password" name="currentPassword" required />
        </td>
      </tr>
      <tr>
        <th>New Password:</th>
        <td>
          <input type="password" name="newPassword" required/>
        </td>
      </tr>
      <tr>
        <th>Confirm New Password:</th>
        <td>
          <input type="password" name="confirmPassword" required />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Update Password</button>
        </td>
      </tr>
    </table>
  </form>

  <br>
  <a href="/user/profile">Back to Profile</a>
</body>
</html>